{% extends 'base.html' %}

{% block content %}
    <h2>تعديل الخدمة</h2>
    <form method="post">
        <label for="name">اسم الخدمة:</label>
        <input type="text" id="name" name="name" value="{{ service.name }}" required>
        <label for="category_id">القسم:</label>
        <select id="category_id" name="category_id" required>
            {% for category in all_categories %}
                <option value="{{ category.id }}" {% if category.id == service.category_id %}selected{% endif %}>{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit">حفظ التعديلات</button>
    </form>
{% endblock %}
